version: '2'
services:
  clickhouse_db:
    image: bitnami/clickhouse:latest
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
    environment:
      - ALLOW_EMPTY_PASSWORD=no
      - CLICKHOUSE_ADMIN_PASSWORD=admin
      - CLICKHOUSE_ADMIN_USER=default
      - CLICKHOUSE_HTTP_PORT=9123
    networks:
      default:
    ports:
      - 9123:9123
    volumes:
      - ./tests_override.xml:/bitnami/clickhouse/etc/conf.d/override.xml:ro
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:9123/ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  mysql_db:
    image: mysql:8.4.3
    environment:
      MYSQL_DATABASE: admin
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: admin
    ports:
      - "9306:3306"
    volumes:
      - ./test_mysql.cnf:/etc/mysql/my.cnf:ro
    networks:
      - default
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  mariadb_db:
    image: mariadb:11.5.2
    environment:
      - MARIADB_DATABASE=admin
      - MARIADB_ROOT_HOST=%
      - MARIADB_ROOT_PASSWORD=admin
    networks:
      default:
    ports:
      - 9307:3306
    volumes:
      - ./test_mariadb.cnf:/etc/mysql/my.cnf:ro  # Adjust path to MariaDB config location if needed
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MARIADB_ROOT_PASSWORD"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  replicator:
    build:
      context: .
      dockerfile: Dockerfile
    network_mode: host
    volumes:
      - ./:/app/
    entrypoint: ["/bin/bash"]
    command: ["-c", "touch /tmp/ready && tail -f /dev/null"]
    healthcheck:
      test: [ 'CMD-SHELL', 'test -f /tmp/ready' ]
      interval: 2s
      retries: 100
      start_period: 10s
    depends_on:
      clickhouse_db:
        condition: service_healthy
      mysql_db:
        condition: service_healthy
      mariadb_db:
        condition: service_healthy
