[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
# The defaults from /etc/my.cnf
datadir = /var/lib/mysql
pid-file = /var/run/mysqld/mysqld.pid
secure-file-priv = /var/lib/mysql-files
socket = /var/lib/mysql/mysql.sock
user = mysql

# Custom settings
collation-server = utf8mb4_0900_ai_ci
character-set-server = utf8mb4
#default_authentication_plugin = mysql_native_password
init-connect = 'SET NAMES utf8mb4'
#skip-host-cache
skip-name-resolve
information_schema_stats_expiry = 0
bind-address = 0.0.0.0

# replication
gtid_mode = on
enforce_gtid_consistency = 1
binlog_expire_logs_seconds = 864000
max_binlog_size            = 500M
binlog_format              = ROW #Very important if you want to receive write, update and delete row events
log-bin                    = mysql-bin
